@use '../../../assets/sass/01-abstracts/_abstracts-dir' as *;

.container {
    display: block;
    cursor: pointer;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    small {
        width: 20px;
        height: 20px;
        padding: 2px;
        box-sizing: border-box;
        margin-right: 10px;
        border: 2px solid $primary;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: 768px){
            margin-right: 14px;
        }
        svg {
            display: none;
            font-size: 40px;
        }
    }
    p {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }
    input[type=checkbox] {
        display: none;
        &:checked {
            &+ .containerTerms {
                small {
                    border-color: $primary;
                    background-color: $grey-1;
                    svg {
                        color: $white;
                        display: block;
                    }
                }
            }
        }
    }
    &Terms {
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        color: $primary;
        display: flex;
        align-items: center;
        @media (max-width: 768px){
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
        }
        p {
            margin: 0;
            @media (max-width: 768px){
                font-size: 14px;
                font-weight: 600;
                line-height: 20px;
            }
        }
        @media (max-width: 768px){
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
        }
    }
}